/* #contentDiv{
    margin-left: 10%;
} */

#mainDiv{
    min-height: 500px;
    padding: 20px;
}

#scraperBtn{
    height: 100%;
    width:100%;
}

#title{
    display: inherit;
}

#titleText{
    margin-left: 10px;
    margin-right: 10px;
}