body{
    background-color: #f6f7eb;
}

/* h3{
    
} */

.articleImg{
    border:5px solid #b4b4b4;
}
.articleImg:hover{
    border: 5px solid #999999;
}

.articleRow{
    background: #cccccc;
}

.articleTitle{
    background-color: #b4b4b4;
    color: white;
    padding: 15px;
}

/* #contentDiv{
    margin-left: 10%;
} */

#mainDiv{
    min-height: 500px;
    padding: 20px;
    background-color: #ffffff;
}

#scraperBtn{
    height: 100%;
    width:100%;
}

#title{
    display: inherit;
    text-align: center;
}

#titleText{
    margin-left: 10px;
    margin-right: 10px;
}